.slick-dots li button::before {
    font-size: 10px;
    color: #454545;
    opacity: 0.7;
    margin: 20px 0;
}

.slick-dots li.slick-active button::before {
    color: #d00000;
    opacity: 1;
}

.slick-center {
    -webkit-transform: scale(1.125);
    -moz-transform: scale(1.125);
    transform: scale(1.125);
    transition: all 400ms ease-in-out;
}
